version: '3.8'
services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: adminuser
      MONGO_INITDB_ROOT_PASSWORD: adminpassword
      PYTHONUNBUFFERED: 1
    command: [
      "--auth",
      "--bind_ip_all",
      "--setParameter", "enableLocalhostAuthBypass=false"
    ]
    restart: always
    networks:
      - bot-network

  redis:
    image: redis:latest
    container_name: redis_bot
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    networks:
      - bot-network
  bot:
    build: .
    container_name: telegram_bot
    depends_on:
      - redis
      - mongodb
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    command: python run_bot.py
    restart: unless-stopped
    networks:
      - bot-network
volumes:
  redis_data:
  mongodb_data:

networks:
  bot-network:
    driver: bridge

